html,body, div, span,a,ul,li {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

body{
	background-color:thistle;
}


ul li{
	float:left;
	margin-right:1px;
	list-style-type:none;
}

ul li a{
	font-size:10pt;
	font-weight:bold;
	text-align: center;

	color:#FFF;
	text-decoration:none;
	display:block;
	width:100px;
	height:40px; 
	background:#C15757;  
}


#operate_zone{
	width:750px;
	height:810px; 
	border:2px dotted red;	
}

#operate_contents{
	clear:both;
	margin-bottom:150px;
	width:700px;
	height:600px; 
	border: 3px solid orange; 
}





#dispTxt_zone{
	position:absolute;
	left:760px;
	top:0px;
	margin-bottom:150px;
	width:800px;
	height:300px;  
	border:2px dotted red;	
}

#dispTxt_contents{
}

#dispTxt_contents textarea{
	width:600px;
	height:200px;
}





#dispTable_zone{
	position:absolute;
	left:760px;
	top:310px;
	
	margin-bottom:150px;
	width:800px;
	height:500px;
	border:2px dotted red;	
}

#dispTable_contents{
	clear:both;
	margin-bottom:150px;
	width:700px;
	height:400px;
	border: 3px solid plum;
	overflow-x:hiden;
	
	overflow-y:auto;
  
}







ul li a.operateCurrent{
	background:#F5F4F2;
	color:#C15757;
}



ul li a.dispTableCurrent{
	background:#F5F4F2;
	color:#C15757;
}
